@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Các quy tắc CSS của bạn */
.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  margin-top: 16px;
}

.card a {
  margin-top: 16px;
  text-decoration: underline;
}

.card img {
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}
